.keys-container{
    background-color: #ffffff;
    height: 100%;
    padding-top: 40px;
}
.key-btn button{
    margin: 12px;
    border: none;
    width: 280px;
    height: 60px;
    border-radius: 15px;
    background-color: #303841;
    box-shadow: 2px 1px 7px black;
    color: #ffffff;
    font-size: 22px;
    animation: btnsAnime 0.5s ease-in;
}


@keyframes btnsAnime{
    0%{opacity: 0%}
    100%{opacity: 100%}
}
